body {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

img {
	position: absolute;
}

div#moving_images_slow {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
}

div#moving_images_slow img {
	transition: all 20s;
  	-webkit-transition: all 20s;
  	-moz-transition: all 20s;
  	-o-transition: all 20s;
  	-ms-transition: all 20s;
}

div#moving_images_medium {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
}

div#moving_images_medium img {
	transition: all 10s;
  	-webkit-transition: all 10s;
  	-moz-transition: all 10s;
  	-o-transition: all 10s;
  	-ms-transition: all 10s;
}

div#moving_images_fast {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: inherit;
	height: inherit;	
}

div#moving_images_fast img {
	z-index: 1;
	transition: all 5s;
  	-webkit-transition: all 5s;
  	-moz-transition: all 5s;
  	-o-transition: all 5s;
  	-ms-transition: all 5s;
}

div#spread_sheet {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
}

div.cell {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border-style: solid;
  	border-width: 0px thin thin 0px;
  	border-color: rgba(0, 0, 0, 0.1);
	display: inline-block;
	position: relative;
}

div.cell:hover {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 2px red solid;
}

div#merged_cells_sheet {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 20px;
	left: 40px;
	width: inherit;
	height: inherit;
}

div.sheet_unit {
	padding: 0px;
	overflow: hidden;
	display: inline-block;
}

div.merged_cell {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	position: relative;		
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center center;
}

div#sheet_edge {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
}

div.x_edge_cell {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	position: relative;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	overflow: hidden;
  	background: #EBEBEB;
  	border-style: solid;
  	border-width: 0px thin thin 0px;
  	border-color: rgba(0, 0, 0, 0.1);
  	font-size: 12px;
  	font-weight: bold; 
  	text-align: center;
  	padding: 2px;
  	z-index: 1;
}

div.y_edge_cell {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	position: absolute;
  	left: 0px;
  	display: block;
  	width: 40px;
  	height: 20px;
  	overflow: hidden;
  	background: #EBEBEB;
  	border-style: solid;
  	border-width: 0px thin thin 0px;
  	border-color: rgba(0, 0, 0, 0.1);
  	font-size: 12px;
  	font-weight: bold; 
  	padding: 2px;
  	z-index: 1;
}

div#information1 {
	margin: 0px;
	padding: 0px;
	width: 420px;
	height: 60px;
	position: absolute;
	top: 400px;
	left: 180px;
	background-image: url('../source/pngs/information_1.png');	
}

div#information2 {
	margin: 0px;
	padding: 0px;
	width: 320px;
	height: 60px;
	position: absolute;
	top: 500px;
	left: 300px;
	background-image: url('../source/pngs/information_2.png');	
}

div#information3 {
	margin: 0px;
	padding: 0px;
	width: 680px;
	height: 60px;
	position: absolute;
	top: 200px;
	left: 740px;
	background-image: url('../source/pngs/information_3.png');	
}

div#information4 {
	margin: 0px;
	padding: 0px;
	width: 300px;
	height: 60px;
	position: absolute;
	top: 60px;
	left: 600px;
	background-image: url('../source/pngs/information_4.png');	
}

div#information5 {
	margin: 0px;
	padding: 0px;
	width: 380px;
	height: 280px;
	position: absolute;
	top: 60px;
	left: 80px;
	background-image: url('../source/pngs/information_5.png');	
}

table {
	border-collapse: collapse;
	margin: 0px;
	position: absolute;
	top: 60px;
	left: 80px;
}

td.visible {
	background: white;	
  	padding: 2px 0 0 2px;
  	font-size: 12px;
	border: 1px black solid;
	box-shadow: 5px 5px 2px black;
	cursor: url('http://grabanddrag.mozdev.org/grab.png'), auto;	
}

td.visible:active {
	cursor: url('http://grabanddrag.mozdev.org/grabbing.png'), auto;
}

td.invisible{
	height: 20px;
	width: 20px;
	padding: 0px;
	border: 0px black solid;
}

div#countdown {
	height: 40px;
	width: 200px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	position: absolute;
  	font-size: 12px;
  	top: 220px;
  	left: 500px;
  	padding: 2px;
}

div#introduction {
	height: 180px;
	width: 300px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	position: absolute;
  	top: 500px;
  	left: 800px;
  	font-size: 12px;
}

div#facebook_btn {
	height: 20px;
	width: 80px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	font-size: 12px;
  	position: absolute;
  	top: 540px;
  	left: 60px;
}

div#instagram_btn {
	height: 20px;
	width: 80px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	font-size: 12px;
  	position: absolute;
  	top: 580px;
  	left: 60px;
}

div#medium_btn {
	height: 20px;
	width: 80px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	font-size: 12px;
  	position: absolute;
  	top: 620px;
  	left: 60px;
}

div#twitter_btn {
	height: 20px;
	width: 80px;
	padding: 2px;
	background-color: white;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px black solid;
  	font-size: 12px;
  	position: absolute;
  	top: 660px;
  	left: 60px;
}

a{ color: blue; }

.img_draggable {
	cursor: url('http://grabanddrag.mozdev.org/grab.png'), auto;
}

.img_draggable:active {
	cursor: url('http://grabanddrag.mozdev.org/grabbing.png'), auto;
}

.draggable {
	box-shadow: 5px 5px 2px black;
	cursor: url('http://grabanddrag.mozdev.org/grab.png'), auto;
}

.draggable:active {
	cursor: url('http://grabanddrag.mozdev.org/grabbing.png'), auto;
}	